img {
  max-width: 300px;
}

.search-form {
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
